
<div class='comment'>
    <p class='comment-body'> <%= comment.body %> </p>
    <p class='comment-author'> Posted by: <%= comment.user.name%> <%= time_ago_in_words(comment.created_at)%> ago </p>

    <div class='links'>
        <%# only author of comment can delete or edit comment%>
        <% if user_signed_in?%>
            <% if comment.user_id == current_user.id %>
                <%= link_to 'Edit', edit_post_comment_path(comment.body, comment) %>
                <%= link_to 'Delete', post_comment_path(comment.body, comment), method: :delete,
                    data: {confirm: 'Do you really want to delete your comment?'} %>
            <% end %>
        <% end %>
    </div>
</div>


